{% extends 'navbar.html' %}

{% load static %}
{% block content %}

<! about !>
  <div class="container-fluid p-0">

    <section style="background-color:cyan" class="resume-section p-3 p-lg-5 d-flex align-items-center" id="aboutt">
      <div class="w-100">
        <h1 class="mb-0">Samson
          <span class="text-primary">Chapuramhuka</span>
        </h1>
        <div class="subheading mb-5">Chatikobo Village · Chief Nerutanga, Buhera · (+263) 774830555 ·
          <a href="mailto:samsonchapuramhuka@yahoo.com">samsonchapuramhuka@yahoo.com</a>
        </div>
        <p class="lead mb-5">I am experienced in Python Programming. I also have C language, Java language, HTML and CSS and SQL
          coding skills. My aim is to master every aspect of Python Programming language.</p>
        <div class="social-icons">
          <a href="https://linkedin.com/DalfroseCeline">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/DalfroseCeline">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/DalfroseCeline">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/samson.chapuramhuka">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>
  </div>
  <! end of about!>
{% endblock %}