{% extends 'navbar.html' %}

{% block content %}
    <section style="background-color:maroon" class="resume-section p-3 p-lg-5 d-flex align-items-center" id="family">
      <div class="w-100">
        <h2 class="mb-5">Family</h2>
        <li>Married to Loveness Mutiwokuziwa</li>
        <li>Children:</li><br>
          <ol>
            <li>Dalfrose Celine Chapuramhuka</li>
            <li>Sammie Jayce Chapuramhuka</li>
          </ol>
       </div>
    </section>

    <hr class="m-0">
{% endblock %}