{% extends 'navbar.html' %}

{% block content %}
    <section style="background-color:white" class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a programmer, I enjoy watching or playing football, chess, cricket and tennis.</p>
        <p class="mb-0">When forced indoors, I prefer listening to Reggae music. I rarely follow movies and television
          shows but I spend a large amount of my free time exploring the latest technology advancements in the Python
          programming and web development world.</p>
      </div>
    </section>

    <hr class="m-0">
{% endblock %}