{% extends 'navbar.html' %}

{% block content %}
    <section style="background-color:blue" class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <li>
            <i class="fa-li fa fa-check"></i>
            Python Programming</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Exploring Flask</li>
        <li>
            <i class="fa-li fa fa-check"></i>
            Django</li>
          <li> C Programming
          <li>
            <i class="fa-li fa fa-check"></i>
            Java Programming</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            HTML & CSS</li>
        <li>
            <i class="fa-li fa fa-check"></i>
            SQL</li>
        <li>
            <i class="fa-li fa fa-check"></i>
            Database Design and Management</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">
{% endblock %}